@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', sans-serif;
}

html,
body,
button,
input,
textarea,
select {
  font-family: 'Poppins', sans-serif !important;
}

.font-bodoni-italic {
  font-family: 'Bodoni Moda', Georgia, serif !important;
  font-style: italic !important;
}
